#page02_governance_meeting {
	nav {
		position: fixed;
		top: 0;
		left: 1em;
	}
}

/* helpers */

.hide {
	display: none;
}

.show {
	display: block;
}

.menu-container {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
}

#chat_output {
	padding-bottom: 200px;
	p span.role_name {
		font-style: italic;
	};
	p.example {
		color: #999;
	}
}

#chat_input {
	position: fixed;
	width: 100%;
	bottom: 0; /* -70px/16px */
	left: 0;
	background-color: #ddd;
	.meeting_process_bar {
		background-color: #aaa;
		.finished {
			width: 20%;
			font-size: 0.8em;
			color: #fff;
			text-shadow: none;
			background-color: #333;
		}
	}
}

.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}